* {
    background-image: url( '/assets/Desktop_Blobs.svg' );
    font-family: 'Montserrat', sans-serif;
}

/*h1{
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 156px;
    color: #32256A;
}*/