* {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}
body{
    background-image: url( 'assets/Background_Blobs.svg' );
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
}

h3{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 39px;
    color: #32256A;
}

p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    color: #636363;
}