* {
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url( 'assets/Background_Blobs.svg' );
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
    color: #32256A;
}


h1{
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    color: #32226A;
}